backgrounds/bigsur-color-d.jpg
backgrounds/bigsur-color-l.jpg
backgrounds/bigsur-d.jpg
backgrounds/bigsur-l.jpg
backgrounds/catalina-d.jpg
backgrounds/catalina-l.jpg
backgrounds/mojave-d.jpg
backgrounds/mojave-l.jpg
backgrounds/monterey-d.jpg
backgrounds/monterey-l.jpg
